::selection {
  background: rgba(128, 45, 94, 0.8); }

button, a {
  z-index: 1; }

p {
  font-size: 1.5rem; }

.wrapper {
  min-height: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: #FFF;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-auto-flow: column; }

.hero {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: -2;
  overflow-x: scroll; }
  .hero::after {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    pointer-events: none; }

.back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #FFF; }
  .back img {
    width: 2rem; }
  .back p {
    margin: 0 0 0 10px;
    padding: 0; }

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

header h1 {
  margin: 0;
  padding: 0; }

footer a {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.45rem;
  color: #FFF; }
  footer a:hover {
    color: #FFF;
    background-color: #802d5e; }

footer nav {
  height: 100%; }
  footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%; }
    footer nav ul li {
      flex: 1 1 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.3); }

.logo {
  overflow: hidden; }

.copyright {
  position: fixed;
  top: 20px;
  right: 0;
  font-size: 1rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg); }

@media all and (max-width: 800px) {
  h1, h2 {
    font-size: 1.3rem; }
  p, a {
    font-size: 1rem; }
  .wrapper {
    padding: 10px;
    min-height: calc(100% - 20px); }
  .back {
    position: fixed;
    top: 20px;
    right: 0;
    background: #802d5e;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    box-shadow: 1px 1px 20px 0px black; }
    .back img {
      width: 1.5rem; }
  footer {
    display: grid;
    grid-auto-columns: 100%;
    grid-template-rows: 1fr min-content; }
    footer a {
      font-size: 0.9rem;
      text-align: center; }
    footer li {
      background: none; }
    footer .copyright {
      position: inherit;
      writing-mode: inherit;
      transform: inherit;
      margin: 0;
      text-align: center;
      font-size: 0.8rem; } }

#merci .hero {
  background-image: url("img/bg-5.jpg"); }

#merci main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
